/* GLOBAL */
* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #444444;
}

*:focus{
  outline: 2px dotted #DE2E54;
  outline-offset: 2px;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

.site-header{
  background-color: #FFFFFF;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.site-logo-header{
  color: #222222;
}
.site-logo-header:hover{
  color: #DE2E54;
}
.site-logo-header:active{
  opacity: o.6;
}


.logo-text{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.site-logo-img{
  margin-right: 16px;
}

.site-header-action{
  display: flex;
  align-items: center;
}

/* SITENAV */
.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.sitenav-list{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-right: 114px;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}


.sitenav-link{
  display: block;
  line-height: 14px;
  text-decoration: none;
  color: #222222;
}
.sitenav-link:hover{
  color: #DE2E54;
}
.sitenav-link:active{
  opacity: 0.6;
}

.main-button{
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #DE2E54;
  color: #FFFFFF;
}
.main-button:hover{
  border-color: #DE2E54;
  background-color: #ffffff;
  color: #DE2E54;
}
.main-button:active{
  background-color: #DE2E54;
  color: #ffffff;
  opacity: 0.6;
}

.main-button-solid:hover{
  border-color: transparent;
  background-color: rgba(222, 46, 84, 0.8);
  color: #ffffff;
}
.main-button-solid:active{
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

/* HERO */
.hero{
  background-color: #0EB4C1;
  color: #ffffff;
}

.hero-container{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.hero-content{
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-heading{
  padding-top: 0;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  /* color: #FFFFFF; */
}

.hero-text{
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}

.hero-img{
  /* width: 423px; */
  /* height: 503px; */
  align-self: flex-end;
}

/* INDEX SERVICES */
.index-services{
  padding-top: 120px;
  padding-bottom: 120px;
}

.sevices-container{
  display: flex;
  flex-direction: column;
  /* padding-bottom: 120px; */
}

.index-services-heading{
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}

.index-services-list{
  width: 864px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.index-services-item:not(:last-child){
  /* display: flex;
  align-items: center; */
  margin-bottom: 80px;
}

.index-service{
  display: flex;
  align-items: center;
}

.index-service-img{
  width: 200px;
  height: 200px;
  margin-right: 64px;
  object-fit: cover;
}

.index-service-content{
  width: 600px;
  /* margin-bottom: 25px; */
}

.index-service-title{
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  color: #222222;
}

.index-service-description{
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #444444;
}

.index-sevices-actions{
  display: flex;
  justify-content: center;
}

.primary-button{
  /* display: flex; */
  /* padding-bottom: 120px; */
  margin-right: auto;
  margin-left: auto;
}

/* CTA */
.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0EB4C1;
  color: #ffffff;
}

/* .cta-wrapper{
  padding-bottom: 64px;
  padding-top: 64px;
  text-align: center;
} */

.cta-heading{
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

.cta-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-links-items:not(:last-child){
  margin-right: 40px;
}

.main-button-outline{
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}
.main-button-outline:hover{
  border-color: transparent;
  background-color: #DE2E54;
  color: #ffffff;
}

/* FOOTER */
.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222222;
  color: #FFFFFF;
}

.site-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo-footer{
  color: #ffffff;
}
.site-logo-footer:hover{
  color: #DE2E54;
}
.site-logo-footer:active{
  color: #ffffff;
}

/* .logo-text-footer{
  color: #FFFFFF;
} */

.sitenav-link-footer{
  color: #FFFFFF;
}